@charset "utf-8";
.subjectDiv {
    font-family: "微軟正黑體";
    font-size: 14pt;
    font-weight: bold;
    color: #996600;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #666666;
    margin-bottom: 5px;
}

.actionDiv a:hover {
    color: #FFFFFF;
    background-color: #CC0000;
}

.albumDiv {
    float: left;
    height: 300px;
    width: 175px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.picDiv {
    padding: 10px;
    background-color: #CCCCCC;
    height: 150px;
    width: 150px;
    border: 1px solid #999999;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.navDiv {
    clear: both;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;
    padding: 5px;
}

.btn {
    width: 100px;
    height: 1.5em;
    color: #850909;
    background-color: #eeddad;
    text-decoration: none;
    padding: 8px 10px;
    margin: 10px 0;
    text-align: center;
}
