header,footer {
    text-align: center;
}
body{
    padding-top: 80px;
}
#header{
    position: fixed;
    left:0;
    top:0;
    background-color: #eeeeee;
    width:100%;
    border: 1px dotted #94c8b1;
}
#wrap{
    width: 988px;
    margin: 0 auto;
}

.item{
    background-color: beige;
    float: left;
    margin-bottom: 5px;
    padding: 10px;
    width: 225px;
    height: 300px;
    border: 1px solid #ccc;
}
.item img{
    padding-top: 10px;
    width:225px;
    height: 160px;
}
h2{
    text-align: center;
}
    