.card{
    margin: 10px auto;
    min-width: 400px;
    max-width: 600px;
    width: 70%;
    border: solid silver 1px;
}

.card-header{
    border-top: solid silver 1px;
    padding: 20px 10px;
    background-color: #eaeaea;
}

.card-body{
    background-color: white;
    padding: 10px;
}